In [51]:
import pandas as pd
apportionment = pd.read_csv('seatlosses.csv')
apportionment = apportionment.iloc[:,1:]
apportionment = apportionment.fillna('')

import pandas as pd
apportionment_per = pd.read_csv('seatlosses_per.csv')
apportionment_per = apportionment_per.iloc[:,1:]
apportionment_per = apportionment_per.fillna('')

apportionment_per['Lose 2 Seats'] = apportionment_per['Lose 2 Seats'].astype(str) + '%'
apportionment_per['Lose 1 Seat'] = apportionment_per['Lose 1 Seat'].astype(str) + '%'
apportionment_per['Gain 1 Seat'] = apportionment_per['Gain 1 Seat'].astype(str) + '%'
apportionment_per['Gain 2 Seats'] = apportionment_per['Gain 2 Seats'].astype(str) + '%'

apportionment_per.mask(apportionment_per == '%',inplace=True,other='')

apportionment_pop = pd.read_csv('seatlosses_withpop.csv')
apportionment_pop = apportionment_pop.iloc[:,1:]
apportionment_pop = apportionment_pop.fillna('')

apportionment_pop

,State,Lose 2 Seats,Lose 1 Seat,Gain 1 Seat,Gain 2 Seats,populations
0,Alabama,-930000,-210000,520000,,4802982
1,Alaska,,,290000,,721523
2,Arizona,,-400000,330000,,6412700
3,Arkansas,,-470000,260000,970000,2926229
4,California,-860000,-120000,660000,,37341989
5,Colorado,,-450000,270000,1e+06,5044930
6,Connecticut,,-420000,310000,,3581628
7,Delaware,,,110000,850000,900877
8,Florida,-840000,-120000,630000,,18900773
9,Georgia,-880000,-170000,570000,,9727566
10,Hawaii,,-370000,380000,,1366862
11,Idaho,,-580000,170000,900000,1573499
12,Illinois,,-470000,280000,,12864380
13,Indiana,,-490000,240000,960000,6501582
14,Iowa,,-600000,130000,850000,3053787
15,Kansas,,-410000,320000,,2863813
16,Kentucky,,-470000,260000,980000,4350606
17,Louisiana,,-680000,50000,770000,4553962
18,Maine,,-340000,410000,,1333074
19,Maryland,,-490000,240000,960000,5789929
20,Massachusetts,,-550000,180000,910000,6559644
21,Michigan,,-350000,390000,,9911626
22,Minnesota,-730000,-10000,730000,,5314879
23,Mississippi,,-530000,200000,920000,2978240
24,Missouri,,-710000,20000,740000,6011478
25,Montana,,,20000,750000,994416
26,Nebraska,-830000,-100000,630000,,1831825
27,Nevada,-980000,-260000,470000,,2709432
28,New Hampshire,,-320000,420000,,1321445
29,New Jersey,,-670000,70000,790000,8807501
30,New Mexico,,-340000,400000,,2067273
31,New York,,-640000,110000,850000,19421055
32,North Carolina,,-720000,20000,750000,9565781
33,North Dakota,,,330000,,675905
34,Ohio,,-590000,150000,880000,11568495
35,Oklahoma,,-600000,130000,850000,3764882
36,Oregon,,-680000,50000,770000,3848606
37,Pennsylvania,,-340000,400000,,12734905
38,Rhode Island,,-60000,690000,,1055247
39,South Carolina,-770000,-60000,670000,,4645975
40,South Dakota,,,190000,930000,819761
41,Tennessee,,-360000,370000,,6375431
42,Texas,-830000,-100000,660000,,25268418
43,Utah,,-320000,410000,,2770765
44,Vermont,,,380000,,630337
45,Virginia,,-610000,130000,850000,8037736
46,Washington,-750000,-30000,700000,,6753369
47,West Virginia,-860000,-130000,610000,,1859815
48,Wisconsin,,-400000,330000,,5698230
49,Wyoming,,,,,568300